name: Verify XSLT transforms
on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'


jobs:
  documentation-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check for entry for each XSL in documentation
        run: ./scripts/verify-documentation.sh
  project-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name: Run tests
        run: ./project_tests.sh --log ./project-tests.log

      - name: Run tests in docker container
        run: |
          docker buildx build -t epp-biorxiv-xslt-test -f Dockerfile.test .
          docker run --rm epp-biorxiv-xslt-test /app/project_tests.sh --log /app/project-tests.log
